@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-size: 100% 100%;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 50px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.play-item::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 3px;
  background-image: url("../assets/svg/play.svg");
  background-size: 100% 100%;
}

.play-mode.item-active::after {
  background-image: url("../assets/svg/pause.svg");
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  opacity: 100%;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.user-name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.user-name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
  position: relative;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
  padding: 0 60px 7px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .user-name {
    font-size: 32px;
    padding: 5px;
  }
}

.audio-player {
  height: 35px;
  width: 220px;
  background: #fff;
  box-shadow: 0 0 5px 0 #fff;
  font-family: arial;
  color: black;
  font-size: 0.75em;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
  margin-bottom: 20px;
}

.timeline {
  background: white;
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
}

.progress {
  background: coral;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 7px;
}

.controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-play.play-mode {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid #0000;
  border-left: 13px solid black;
}

.toggle-play.play-mode:hover {
  transform: scale(1.1);
}

.toggle-play.pause {
  height: 15px;
  width: 20px;

  cursor: pointer;
  position: relative;
}

.toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: black;
  content: "";
  height: 15px;
  width: 3px;
}

.toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: black;
  content: "";
  height: 15px;
  width: 3px;
}

.toggle-play.pause:hover {
  transform: scale(1.1);
}

.track-time {
  display: flex;
}

.track-time > * {
  padding: 2px;
}

.volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}

.volume {
  width: 18px;
  height: 24px;
  object-fit: cover;
  background-size: 100% 100%;
}

.volume-slider {
  position: absolute;
  left: -1px;
  top: 10px;
  z-index: -1;
  width: 0;
  height: 10px;
  background: #ccc;
  box-shadow: 0 0 20px #000a;
  transition: 0.25s;
}

.volume-percentage {
  background: coral;
  height: 100%;
  width: 75%;
}

.volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}

.volume-icon {
  background-image: url("../assets/svg/volume.svg");
}

.volume-icon-mute {
  background-image: url("../assets/svg/mute.svg");
}

.settings-btn {
  width: 32px;
  height: 32px;
  background-image: url("../assets/svg/settings.svg");
  background-size: 100% 100%;
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 10;
  transition-duration: 0.5s;
}

.settings-btn:hover {
  transform: scale(1.1);
}

.settings-container {
  width: 30%;
  background-color: white;
  border-radius: 7px;
  padding: 15px;
  color: black;
  position: absolute;
  bottom: 120px;
  left: 44px;
  z-index: 100;
  visibility: hidden;
  transition-duration: 0.1s;
}

.opened {
  visibility: visible;
  transform: scale(1.1);
}

.settings-title {
  display: flex;
  font-size: 28px;
  font-weight: 700;
}

.setting-wrap {
  display: flex;
  margin-bottom: 10px;
}

.list-item {
  padding: 8px 25px 8px 0;
}

.settings-label {
  text-transform: capitalize;
  margin-left: 10px;
}

.widgets-wrap {
  flex-direction: column;
  align-items: flex-start;
}

.photo-source-wrap {
  flex-wrap: wrap;
}

.hidden {
  opacity: 0;
}

.photo-category {
  /*width: 100%;
  display: flex;
  justify-content: flex-end; */
}

.photo-category-input {
  width: 60%;
  height: 30px;
  border: 0;
  outline: 0;
  margin-left: 0;
}

.photo-category-input:disabled {
  opacity: 60%;
}

.change-photo-btn {
  background-color: rgb(65, 138, 167);
  padding: 8px 15px;
  font-size: 16px;
  position: absolute;
  bottom: 20px;
  right: 15px;
  color: #fff;
}

.change-photo-btn:disabled {
  opacity: 60%;
  background-color: darkgray;
}

#audio-player-widget,
#weather-widget,
#time-widget,
#date-widget,
#greeting-widget,
#quotes-widget {
  transition: all ease 0.4s;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.overlay-hidden {
  display: none;
}
